
*.plist

*.plist

GymListHelper WatchKit App/Info.plist

*.entitlements

GymListHelper WatchKit Extension/GymListHelper WatchKit Extension.entitlements

GymListHelper WatchKit Extension/Info.plist

*.pbxproj

GymListHelper.xcodeproj/project.pbxproj

*.xcuserstate

*.entitlements

GymListHelper/GymListHelper.entitlements

GymListHelper/Info.plist

GymListHelperTests/Info.plist
